<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-workshop-heading" data-cy="WorkshopCreateUpdateHeading" jhiTranslate="blueFusionApp.workshop.home.createOrEditLabel">
        Create or edit a Workshop
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.workshop.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_workshopId" jhiTranslate="blueFusionApp.workshop.workshopId">Workshop Id</label>
          <input
            type="number"
            class="form-control"
            name="workshopId"
            id="field_workshopId"
            data-cy="workshopId"
            formControlName="workshopId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_siteId" jhiTranslate="blueFusionApp.workshop.siteId">Site Id</label>
          <input type="number" class="form-control" name="siteId" id="field_siteId" data-cy="siteId" formControlName="siteId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_workshopName" jhiTranslate="blueFusionApp.workshop.workshopName">Workshop Name</label>
          <input
            type="text"
            class="form-control"
            name="workshopName"
            id="field_workshopName"
            data-cy="workshopName"
            formControlName="workshopName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
