<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (contractDivision(); as contractDivisionRef) {
      <div>
        <h2 data-cy="contractDivisionDetailsHeading">
          <span jhiTranslate="blueFusionApp.contractDivision.detail.title">Contract Division</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ contractDivisionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.contractDivisionId">Contract Division Id</span></dt>
          <dd>
            <span>{{ contractDivisionRef.contractDivisionId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.contractDivisionNumber">Contract Division Number</span></dt>
          <dd>
            <span>{{ contractDivisionRef.contractDivisionNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.companyId">Company Id</span></dt>
          <dd>
            <span>{{ contractDivisionRef.companyId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.buildSmartReference">Build Smart Reference</span></dt>
          <dd>
            <span>{{ contractDivisionRef.buildSmartReference }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.shiftStart">Shift Start</span></dt>
          <dd>
            <span>{{ contractDivisionRef.shiftStart }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.shiftEnd">Shift End</span></dt>
          <dd>
            <span>{{ contractDivisionRef.shiftEnd }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.ContractDivisionType.' + (contractDivisionRef.type ?? 'null')">{{
              { null: '', CONTRACT: 'CONTRACT', DIVISION: 'DIVISION' }[contractDivisionRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.contractDivision.completed">Completed</span></dt>
          <dd>
            <span>{{ contractDivisionRef.completed }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/contract-division', contractDivisionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
