<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (manufacturer(); as manufacturerRef) {
      <div>
        <h2 data-cy="manufacturerDetailsHeading"><span jhiTranslate="blueFusionApp.manufacturer.detail.title">Manufacturer</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ manufacturerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.manufacturer.manufacturerId">Manufacturer Id</span></dt>
          <dd>
            <span>{{ manufacturerRef.manufacturerId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.manufacturer.manufacturerName">Manufacturer Name</span></dt>
          <dd>
            <span>{{ manufacturerRef.manufacturerName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/manufacturer', manufacturerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
