<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-asset-plant-photo-heading"
        data-cy="AssetPlantPhotoCreateUpdateHeading"
        jhiTranslate="blueFusionApp.assetPlantPhoto.home.createOrEditLabel"
      >
        Create or edit a Asset Plant Photo
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.assetPlantPhoto.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_assetPlantPhotoId" jhiTranslate="blueFusionApp.assetPlantPhoto.assetPlantPhotoId"
            >Asset Plant Photo Id</label
          >
          <input
            type="number"
            class="form-control"
            name="assetPlantPhotoId"
            id="field_assetPlantPhotoId"
            data-cy="assetPlantPhotoId"
            formControlName="assetPlantPhotoId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="blueFusionApp.assetPlantPhoto.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        @let imageRef = editForm.get('image')!;
        <div class="mb-3">
          <label class="form-label" for="field_image" jhiTranslate="blueFusionApp.assetPlantPhoto.image">Image</label>
          <div>
            @if (imageRef.value) {
              <img
                [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + imageRef.value"
                style="max-height: 100px"
                alt="assetPlantPhoto"
              />
            }
            @if (imageRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(imageRef.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_image"
              data-cy="image"
              (change)="setFileData($event, 'image', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assetPlantId" jhiTranslate="blueFusionApp.assetPlantPhoto.assetPlantId"
            >Asset Plant Id</label
          >
          <input
            type="number"
            class="form-control"
            name="assetPlantId"
            id="field_assetPlantId"
            data-cy="assetPlantId"
            formControlName="assetPlantId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_assetPlantPhotoLabel" jhiTranslate="blueFusionApp.assetPlantPhoto.assetPlantPhotoLabel"
            >Asset Plant Photo Label</label
          >
          <select
            class="form-control"
            name="assetPlantPhotoLabel"
            formControlName="assetPlantPhotoLabel"
            id="field_assetPlantPhotoLabel"
            data-cy="assetPlantPhotoLabel"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.AssetPlantPhotoLabel.null' | translate }}</option>
            @for (assetPlantPhotoLabel of assetPlantPhotoLabelValues; track $index) {
              <option [value]="assetPlantPhotoLabel">{{ 'blueFusionApp.AssetPlantPhotoLabel.' + assetPlantPhotoLabel | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
