<div>
  <h2 id="page-heading" data-cy="AssetPlantHeading">
    <span jhiTranslate="blueFusionApp.assetPlant.home.title">Asset Plants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blueFusionApp.assetPlant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset-plant"
        [routerLink]="['/asset-plant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blueFusionApp.assetPlant.home.createLabel">Create a new Asset Plant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (assetPlants().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blueFusionApp.assetPlant.home.notFound">No Asset Plants found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assetPlantId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.assetPlantId">Asset Plant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fleetNumber">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.fleetNumber">Fleet Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numberPlate">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.numberPlate">Number Plate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fleetDescription">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.fleetDescription">Fleet Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ownerId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.ownerId">Owner Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accessibleByCompany">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.accessibleByCompany">Accessible By Company</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driverOrOperator">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.driverOrOperator">Driver Or Operator</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plantCategoryId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.plantCategoryId">Plant Category Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plantSubcategoryId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.plantSubcategoryId">Plant Subcategory Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manufacturerId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.manufacturerId">Manufacturer Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modelId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.modelId">Model Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="yearOfManufacture">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.yearOfManufacture">Year Of Manufacture</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="colour">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.colour">Colour</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horseOrTrailer">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.horseOrTrailer">Horse Or Trailer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="smrReaderType">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.smrReaderType">Smr Reader Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentSmrIndex">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.currentSmrIndex">Current Smr Index</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="engineNumber">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.engineNumber">Engine Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="engineCapacityCc">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.engineCapacityCc">Engine Capacity Cc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentSiteId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.currentSiteId">Current Site Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentContractId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.currentContractId">Current Contract Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentOperatorId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.currentOperatorId">Current Operator Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ledgerCode">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.ledgerCode">Ledger Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fuelType">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.fuelType">Fuel Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tankCapacityLitres">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.tankCapacityLitres">Tank Capacity Litres</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consumptionUnit">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.consumptionUnit">Consumption Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plantHoursStatus">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.plantHoursStatus">Plant Hours Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isPrimeMover">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.isPrimeMover">Is Prime Mover</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="capacityTons">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.capacityTons">Capacity Tons</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="capacityM3Loose">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.capacityM3Loose">Capacity M 3 Loose</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="capacityM3Tight">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.capacityM3Tight">Capacity M 3 Tight</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maximumConsumption">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.maximumConsumption">Maximum Consumption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minimumConsumption">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.minimumConsumption">Minimum Consumption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maximumSmrOnFullTank">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.maximumSmrOnFullTank">Maximum Smr On Full Tank</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trackConsumption">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.trackConsumption">Track Consumption</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trackSmrReading">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.trackSmrReading">Track Smr Reading</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trackService">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.trackService">Track Service</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isDeleted">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.isDeleted">Is Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestWeeklyMileage">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.requestWeeklyMileage">Request Weekly Mileage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sent">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.sent">Sent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chassisNumber">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.chassisNumber">Chassis Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentLocation">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.assetPlant.currentLocation">Current Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (assetPlant of assetPlants(); track trackId(assetPlant)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/asset-plant', assetPlant.id, 'view']">{{ assetPlant.id }}</a>
              </td>
              <td>{{ assetPlant.assetPlantId }}</td>
              <td>{{ assetPlant.fleetNumber }}</td>
              <td>{{ assetPlant.numberPlate }}</td>
              <td>{{ assetPlant.fleetDescription }}</td>
              <td>{{ assetPlant.ownerId }}</td>
              <td>{{ assetPlant.accessibleByCompany }}</td>
              <td [jhiTranslate]="'blueFusionApp.DriverOrOperator.' + (assetPlant.driverOrOperator ?? 'null')">
                {{ { null: '', DRIVER: 'DRIVER', OPERATOR: 'OPERATOR', NONE: 'NONE' }[assetPlant.driverOrOperator ?? 'null'] }}
              </td>
              <td>{{ assetPlant.plantCategoryId }}</td>
              <td>{{ assetPlant.plantSubcategoryId }}</td>
              <td>{{ assetPlant.manufacturerId }}</td>
              <td>{{ assetPlant.modelId }}</td>
              <td>{{ assetPlant.yearOfManufacture }}</td>
              <td>{{ assetPlant.colour }}</td>
              <td [jhiTranslate]="'blueFusionApp.HorseOrTrailer.' + (assetPlant.horseOrTrailer ?? 'null')">
                {{ { null: '', HORSE: 'HORSE', TRAILER: 'TRAILER', NONE: 'NONE' }[assetPlant.horseOrTrailer ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'blueFusionApp.SMRReaderType.' + (assetPlant.smrReaderType ?? 'null')">
                {{ { null: '', KILOMETER: 'KILOMETER', HOUR: 'HOUR', DAY: 'DAY', NONE: 'NONE' }[assetPlant.smrReaderType ?? 'null'] }}
              </td>
              <td>{{ assetPlant.currentSmrIndex }}</td>
              <td>{{ assetPlant.engineNumber }}</td>
              <td>{{ assetPlant.engineCapacityCc }}</td>
              <td>{{ assetPlant.currentSiteId }}</td>
              <td>{{ assetPlant.currentContractId }}</td>
              <td>{{ assetPlant.currentOperatorId }}</td>
              <td>{{ assetPlant.ledgerCode }}</td>
              <td [jhiTranslate]="'blueFusionApp.FuelType.' + (assetPlant.fuelType ?? 'null')">
                {{ { null: '', PETROL: 'PETROL', DIESEL: 'DIESEL', NONE: 'NONE', OTHER: 'OTHER' }[assetPlant.fuelType ?? 'null'] }}
              </td>
              <td>{{ assetPlant.tankCapacityLitres }}</td>
              <td [jhiTranslate]="'blueFusionApp.ConsumptionUnit.' + (assetPlant.consumptionUnit ?? 'null')">
                {{
                  { null: '', KILOMETERS_PER_LITRE: 'KILOMETERS_PER_LITRE', LITRES_PER_HOUR: 'LITRES_PER_HOUR' }[
                    assetPlant.consumptionUnit ?? 'null'
                  ]
                }}
              </td>
              <td [jhiTranslate]="'blueFusionApp.PlantHoursStatus.' + (assetPlant.plantHoursStatus ?? 'null')">
                {{
                  { null: '', OPERATIONAL: 'OPERATIONAL', BREAK_DOWN: 'BREAK_DOWN', SERVICE: 'SERVICE' }[
                    assetPlant.plantHoursStatus ?? 'null'
                  ]
                }}
              </td>
              <td>{{ assetPlant.isPrimeMover }}</td>
              <td>{{ assetPlant.capacityTons }}</td>
              <td>{{ assetPlant.capacityM3Loose }}</td>
              <td>{{ assetPlant.capacityM3Tight }}</td>
              <td>{{ assetPlant.maximumConsumption }}</td>
              <td>{{ assetPlant.minimumConsumption }}</td>
              <td>{{ assetPlant.maximumSmrOnFullTank }}</td>
              <td>{{ assetPlant.trackConsumption }}</td>
              <td>{{ assetPlant.trackSmrReading }}</td>
              <td>{{ assetPlant.trackService }}</td>
              <td>{{ assetPlant.isDeleted }}</td>
              <td>{{ assetPlant.requestWeeklyMileage }}</td>
              <td>{{ assetPlant.sent }}</td>
              <td>{{ assetPlant.chassisNumber }}</td>
              <td>{{ assetPlant.currentLocation }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/asset-plant', assetPlant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/asset-plant', assetPlant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(assetPlant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (assetPlants().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
