<div>
  <h2 id="page-heading" data-cy="SiteContractHeading">
    <span jhiTranslate="blueFusionApp.siteContract.home.title">Site Contracts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blueFusionApp.siteContract.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site-contract"
        [routerLink]="['/site-contract/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blueFusionApp.siteContract.home.createLabel">Create a new Site Contract</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (siteContracts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blueFusionApp.siteContract.home.notFound">No Site Contracts found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="siteContractId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.siteContract.siteContractId">Site Contract Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="siteId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.siteContract.siteId">Site Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contractId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.siteContract.contractId">Contract Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (siteContract of siteContracts(); track trackId(siteContract)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/site-contract', siteContract.id, 'view']">{{ siteContract.id }}</a>
              </td>
              <td>{{ siteContract.siteContractId }}</td>
              <td>{{ siteContract.siteId }}</td>
              <td>{{ siteContract.contractId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/site-contract', siteContract.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/site-contract', siteContract.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(siteContract)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (siteContracts().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
