<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="blueFusionApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.employee.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_employeeId" jhiTranslate="blueFusionApp.employee.employeeId">Employee Id</label>
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contractActive" jhiTranslate="blueFusionApp.employee.contractActive">Contract Active</label>
          <input
            type="checkbox"
            class="form-check"
            name="contractActive"
            id="field_contractActive"
            data-cy="contractActive"
            formControlName="contractActive"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
