<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fuelPump(); as fuelPumpRef) {
      <div>
        <h2 data-cy="fuelPumpDetailsHeading"><span>Fuel Pump</span></h2>

        <hr />
        <jhi-alert-error />
        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ fuelPumpRef.id }}</span>
          </dd>
          <dt><span>Fuel Pump Number</span></dt>
          <dd>
            <span>{{ fuelPumpRef.fuelPumpCode }}</span>
          </dd>
          <dt><span>Current Storage</span></dt>
          <dd>
            <span>{{ fuelPumpRef.storage }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/fuel-pump', fuelPumpRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
