<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-site-contract-heading"
        data-cy="SiteContractCreateUpdateHeading"
        jhiTranslate="blueFusionApp.siteContract.home.createOrEditLabel"
      >
        Create or edit a Site Contract
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.siteContract.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_siteContractId" jhiTranslate="blueFusionApp.siteContract.siteContractId"
            >Site Contract Id</label
          >
          <input
            type="number"
            class="form-control"
            name="siteContractId"
            id="field_siteContractId"
            data-cy="siteContractId"
            formControlName="siteContractId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_siteId" jhiTranslate="blueFusionApp.siteContract.siteId">Site Id</label>
          <input type="number" class="form-control" name="siteId" id="field_siteId" data-cy="siteId" formControlName="siteId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contractId" jhiTranslate="blueFusionApp.siteContract.contractId">Contract Id</label>
          <input
            type="number"
            class="form-control"
            name="contractId"
            id="field_contractId"
            data-cy="contractId"
            formControlName="contractId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
