<div>
  <h2 id="page-heading" data-cy="ContractDivisionHeading">
    <span jhiTranslate="blueFusionApp.contractDivision.home.title">Contract Divisions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="blueFusionApp.contractDivision.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contract-division"
        [routerLink]="['/contract-division/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blueFusionApp.contractDivision.home.createLabel">Create a new Contract Division</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (contractDivisions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="blueFusionApp.contractDivision.home.notFound">No Contract Divisions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contractDivisionId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.contractDivisionId">Contract Division Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contractDivisionNumber">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.contractDivisionNumber">Contract Division Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyId">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.companyId">Company Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="buildSmartReference">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.buildSmartReference">Build Smart Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shiftStart">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.shiftStart">Shift Start</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="shiftEnd">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.shiftEnd">Shift End</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="completed">
              <div class="d-flex">
                <span jhiTranslate="blueFusionApp.contractDivision.completed">Completed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contractDivision of contractDivisions(); track trackId(contractDivision)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contract-division', contractDivision.id, 'view']">{{ contractDivision.id }}</a>
              </td>
              <td>{{ contractDivision.contractDivisionId }}</td>
              <td>{{ contractDivision.contractDivisionNumber }}</td>
              <td>{{ contractDivision.companyId }}</td>
              <td>{{ contractDivision.buildSmartReference }}</td>
              <td>{{ contractDivision.shiftStart }}</td>
              <td>{{ contractDivision.shiftEnd }}</td>
              <td [jhiTranslate]="'blueFusionApp.DivisionType.' + (contractDivision.type ?? 'null')">
                {{ { null: '', CONTRACT: 'CONTRACT', DIVISION: 'DIVISION' }[contractDivision.type ?? 'null'] }}
              </td>
              <td>{{ contractDivision.completed }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/contract-division', contractDivision.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/contract-division', contractDivision.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(contractDivision)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (contractDivisions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
