<div class="bg-gray-100 min-h-screen p-6">
  <!--  <div class="mx-auto bg-white rounded-xl shadow-md overflow-hidden">-->
  <!--    <div class="bg-white rounded-xl shadow-lg overflow-hidden">-->
  <div class="h-full w-full bg-white rounded-lg shadow p-4">
    <div class="flex flex-col md:flex-row gap-4">
      <!--smr reading card-->
      <div class="h-full w-full bg-white rounded-lg shadow flex-1">
        <div class="divide-y divide-gray-200">
          <div
            class="p-1 bg-gradient-to-r from-blue-500 to-indigo-600 flex flex-col md:flex-row justify-between items-start md:items-center"
          >
            <h2 class="text-xs font-bold text-white mb-2 md:mb-0">SMR Readings</h2>
            <div class="flex space-x-2">
              <h4 class="text-xs font-bold text-white">Overview</h4>
            </div>
          </div>
        </div>
        <!-- First Card -->
        <div class="h-full w-full bg-white rounded-lg shadow p-2 flex-1">
          <!-- Header section -->
          <div class="flex flex-col h-full">
            <!-- Table section with fixed height and scrolling -->
            <div class="overflow-y-auto max-h-40 rounded-md border border-gray-100">
              <div class="overflow-x-auto">
                <table class="min-w-full text-sm">
                  <thead class="sticky top-0 bg-gray-300">
                    <tr class="border-b border-gray-200">
                      <th class="text-left py-1 px-3 font-semibold text-gray-700">Date</th>
                      <th class="text-left py-1 px-3 font-semibold text-gray-700">ISSUE N#</th>
                      <th class="text-left py-1 px-3 font-semibold text-gray-700">LITRES</th>
                      <th class="text-left py-1 px-3 font-semibold text-gray-700">SMR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let smr of smrReadingsArray" class="border-b border-gray-100 hover:bg-gray-50">
                      <td class="py-1 px-3">{{ smr.date }}</td>
                      <td class="py-1 px-3">{{ smr.issueNo }}</td>
                      <td class="py-1 px-3">{{ smr.litres }}</td>
                      <td class="py-1 px-3">{{ smr.reading }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Card - Fuel Consumption with Table -->
      <div class="h-full w-full bg-white rounded-lg shadow flex-1">
        <div class="divide-y divide-gray-200">
          <div
            class="p-1 bg-gradient-to-r from-blue-500 to-indigo-600 flex flex-col md:flex-row justify-between items-start md:items-center"
          >
            <h2 class="text-xs font-bold text-white mb-2 md:mb-0">Fuel Consumption</h2>
            <div class="flex space-x-2">
              <h4 class="text-xs font-bold text-white">Overview</h4>
            </div>
          </div>
        </div>
        <div class="h-full w-full bg-white rounded-lg shadow p-2 flex-1">
          <div class="flex flex-col h-full">
            <!-- Table section with fixed height and scrolling -->
            <div class="overflow-y-auto max-h-40 rounded-md border border-gray-100">
              <div class="overflow-x-auto">
                <table class="min-w-full text-sm">
                  <thead class="sticky top-0 bg-gray-300">
                    <tr class="border-b border-gray-200">
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">Date</th>
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">Document</th>
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">Consumption</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let consumption of consumptionsArray" class="border-b border-gray-100 hover:bg-gray-50">
                      <td class="py-1 px-3">{{ consumption.date }}</td>
                      <td class="py-1 px-3">{{ consumption.document }}</td>
                      <td class="py-1 px-3">{{ consumption.consumption }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-full w-full bg-white rounded-lg shadow flex-1">
        <div class="divide-y divide-gray-200">
          <div
            class="p-1 bg-gradient-to-r from-blue-500 to-indigo-600 flex flex-col md:flex-row justify-between items-start md:items-center"
          >
            <h2 class="text-xs font-bold text-white mb-2 md:mb-0">Balances</h2>
            <div class="flex space-x-2">
              <h4 class="text-xs font-bold text-white">Overview</h4>
            </div>
          </div>
        </div>
        <div class="h-full w-full bg-white rounded-lg shadow p-2 flex-1">
          <div class="flex flex-col h-full">
            <!-- Table section with fixed height and scrolling -->
            <div class="overflow-y-auto max-h-40 rounded-md border border-gray-100">
              <div class="overflow-x-auto">
                <table class="min-w-full text-sm">
                  <thead class="sticky top-0 bg-gray-300">
                    <tr class="border-b border-gray-200">
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">Balance</th>
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">pump01</th>
                      <th class="text-left py-1 px-3 font-heavy text-gray-700">pump01</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-gray-100 hover:bg-gray-50">
                      <td class="py-1 px-3">{{ balance }}</td>
                      <td class="py-1 px-3">{{ pump1 }}</td>
                      <td class="py-1 px-3">{{ pump2 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-full w-full bg-white rounded-lg shadow flex-1">
        <div class="divide-y divide-gray-200">
          <div
            class="p-1 bg-gradient-to-r from-blue-500 to-indigo-600 flex flex-col md:flex-row justify-between items-start md:items-center"
          >
            <h2 class="text-xs font-bold text-white mb-2 md:mb-0">Issues</h2>
            <div class="flex space-x-2">
              <h4 class="text-xs font-bold text-white">Overview</h4>
            </div>
          </div>
        </div>
        <div class="h-full w-full bg-white rounded-lg shadow p-2 flex-1">
          <div class="flex flex-col h-full">
            <!-- Table section with fixed height and scrolling -->
            <div class="overflow-y-auto max-h-40 rounded-md border border-gray-100">
              <div class="overflow-x-auto">
                <table class="min-w-full text-sm">
                  <tbody>
                    <tr *ngFor="let consumption of consumptionsArray" class="border-b border-gray-100 hover:bg-gray-50">
                      <td class="py-1 px-3">{{ consumption.document }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>&nbsp;</p>

  <!--      <jhi-alert-error />-->
  <!--      <jhi-alert />-->
  <div class="h-full w-full bg-white rounded-lg shadow p-2">
    <div class="flex flex-col md:flex-row gap-6">
      <form name="fuelTransactionForm" novalidate class="divide-y divide-gray-200 w-full" autocomplete="off">
        <div class="flex space-x-4 mb-6">
          <!-- Company Field -->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_company">Company</label>
            <input
              type="text"
              id="field_company"
              placeholder="Search company"
              name="searchTerm"
              [(ngModel)]="companiesSearchTerm"
              [ngModelOptions]="{ standalone: true }"
              (input)="filterCompanies()"
              (focus)="showCompaniesDropdown = true"
              (blur)="hideCompanyDropdown()"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
            <ul
              *ngIf="showCompaniesDropdown && filteredCompanies.length > 0"
              class="absolute z-10 w-full bg-white border border-gray-300 mt-1 rounded-md max-h-60 overflow-y-auto shadow-lg"
            >
              <li
                *ngFor="let company of filteredCompanies"
                (mousedown)="selectCompany(company)"
                class="px-4 py-2 hover:bg-blue-100 cursor-pointer"
              >
                {{ company.name }}
              </li>
            </ul>
          </div>

          <!-- Storage Unit Field -->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_storage_unit">Storage Unit</label>
            <input
              type="text"
              id="field_storage_unit"
              placeholder="Search Storage Unit"
              name="searchTerm"
              [(ngModel)]="storageUnitSearchTerm"
              [ngModelOptions]="{ standalone: true }"
              (input)="filterStorageUnits()"
              (focus)="showStorageUnitDropdown = true"
              (blur)="hideStorageUnitDropdown()"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
            <ul
              *ngIf="showStorageUnitDropdown && filteredStorageUnits.length > 0"
              class="absolute z-10 w-full bg-white border border-gray-300 mt-1 rounded-md max-h-60 overflow-y-auto shadow-lg"
            >
              <li
                *ngFor="let storageUnit of filteredStorageUnits"
                (mousedown)="selectStorageUnit(storageUnit)"
                class="px-4 py-2 hover:bg-blue-100 cursor-pointer"
              >
                {{ storageUnit.name }}
              </li>
            </ul>
          </div>

          <!--    Pump          -->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_company">Pump</label>
            <input
              type="text"
              id="field_pump"
              placeholder="Select Pump"
              name="pump"
              [(ngModel)]="pump"
              [ngModelOptions]="{ standalone: true }"
              (focus)="showPumpDropdown = true"
              (blur)="hidePumpDropdown()"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
            <ul
              *ngIf="showPumpDropdown && pumpsArray.length > 0"
              class="absolute z-10 w-full bg-white border border-gray-300 mt-1 rounded-md max-h-60 overflow-y-auto shadow-lg"
            >
              <li *ngFor="let pump of pumpsArray" (mousedown)="selectPump(pump)" class="px-4 py-2 hover:bg-blue-100 cursor-pointer">
                {{ pump.name }}
              </li>
            </ul>
          </div>

          <!--    Pump          -->
          <div class="relative w-1/2">
            <label for="end_date" class="block text-sm font-medium text-gray-700 mb-1">Commodity</label>
            <select
              id="fuel_type"
              name="fuel_type"
              [(ngModel)]="selectedFuelType"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            >
              <option value="" disabled selected>Select Commodity ...</option>
              <option value="petrol">Petrol</option>
              <option value="diesel">Diesel</option>
            </select>
          </div>

          <!--    Date Range          -->
          <div class="relative w-1/2">
            <!-- Start Date -->
            <label for="end_date" class="block text-sm font-medium text-gray-700 mb-1">Start Date</label>
            <input
              type="date"
              id="start_date"
              [(ngModel)]="startDate"
              name="start_date"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <div class="relative w-1/2">
            <!-- End Date -->
            <label for="end_date" class="block text-sm font-medium text-gray-700 mb-1">End Date</label>
            <input
              type="date"
              id="end_date"
              [(ngModel)]="endDate"
              name="end_date"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
        </div>

        <div class="flex space-x-4 mb-6">
          <!-- Company Field -->
          <div class="relative w-1/2">
            <!-- End Date -->
            <label for="end_date" class="block text-xs text-gray-700 mb-1">Date</label>
            <input
              type="date"
              id="date"
              [(ngModel)]="date"
              name="date"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border text-xs border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--    Pump          -->
          <div class="relative w-1/2">
            <label for="end_date" class="block text-xs text-gray-700 mb-1">Transaction Type</label>
            <select
              id="transaction_type"
              name="transaction_type"
              [(ngModel)]="selectedTransactionType"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border text-xs border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            >
              <option value="" disabled selected>Transaction Type ...</option>
              <option value="petrol">Issuance</option>
              <option value="diesel">Calibration</option>
              <option value="diesel">Drum</option>
              <option value="diesel">Third Party</option>
              <option value="diesel">Workshop</option>
              <option value="diesel">Transfer</option>
            </select>
          </div>

          <!-- Fleet Number -->
          <div class="relative w-1/2">
            <label for="end_date" class="block text-xs text-gray-700 mb-1">Fleet Number</label>
            <input
              type="text"
              id="field_fleet_number"
              placeholder="Search Storage Unit"
              name="searchTerm"
              [(ngModel)]="fleetNumber"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border text-xs border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--User-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_user_full_name">User</label>
            <input
              type="text"
              id="field_user_full_name"
              placeholder="User Full Name"
              name="user"
              [(ngModel)]="userFullName"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--SMR-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_smr">SMR</label>
            <input
              type="text"
              id="field_smr"
              placeholder="SMR .... "
              name="user"
              [(ngModel)]="smr"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--Unit-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_unit">Unit</label>
            <input
              type="text"
              id="field_unit"
              placeholder="Unit .... "
              name="user"
              [(ngModel)]="unit"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--Notes-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_notes">Notes</label>
            <input
              type="text"
              id="field_notes"
              placeholder="Notes .... "
              name="notes"
              [(ngModel)]="notes"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--Division/Contract-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_division_contract">Division/Contract</label>
            <input
              type="text"
              id="field_division_contract"
              placeholder="Division or Contract .... "
              name="divisionContract"
              [(ngModel)]="divisionContract"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--Received-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_received_fuel">Received</label>
            <input
              type="text"
              id="field_received_fuel"
              name="receivedFuel"
              [(ngModel)]="receivedFuel"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--Issued-->
          <div class="relative w-1/2">
            <label class="block text-sm font-medium text-gray-700 mb-1" for="field_issued_fuel">Issued</label>
            <input
              type="text"
              id="field_issued_fuel"
              name="issuedFuel"
              [(ngModel)]="issuedFuel"
              [ngModelOptions]="{ standalone: true }"
              class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <!--F/NF-->
          <div class="relative w-1/2">
            <p>&nbsp;</p>
            <div class="flex items-center">
              <!-- Hidden actual checkbox for form control -->
              <input
                type="checkbox"
                name="isActive"
                id="field_isActive"
                data-cy="isActive"
                formControlName="isActive"
                class="sr-only"
                #activeToggle
              />

              <!-- Custom slider toggle -->
              <div
                class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in"
                (click)="activeToggle.click()"
              >
                <div
                  class="block w-10 h-6 rounded-full shadow-inner transition-colors duration-300"
                  [ngClass]="activeToggle.checked ? 'bg-blue-600' : 'bg-gray-300'"
                ></div>
                <div
                  class="absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 focus-within:shadow-outline transition-transform duration-300 ease-in-out"
                  [ngClass]="activeToggle.checked ? 'bg-white transform translate-x-4' : 'bg-white'"
                ></div>
              </div>

              <!-- Label -->
              <label
                for="field_isActive"
                class="text-sm font-medium text-gray-700 cursor-pointer select-none"
                [ngClass]="activeToggle.checked ? 'text-blue-600' : 'text-gray-700'"
              >
                {{ activeToggle.checked ? 'FULL' : 'NOT FULL' }}
              </label>
            </div>
          </div>

          <div class="relative w-1/2">
            <p>&nbsp;</p>
            <button type="submit" class="p-1 text-red-600 hover:text-red-800">
              <fa-icon icon="add"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Date</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Fleet No</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>User</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Smr</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Unit</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Notes</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Division/Contract</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Received</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Issued</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Balance</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Pump</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer">
              <div class="flex items-center">
                <span>Fill up</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-1 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let fuelTransaction of fuelTransactionsArray" class="border-b border-gray-100 hover:bg-gray-50">
            <td class="px-6 py-1 whitespace-nowrap text-sm font-medium text-gray-900">
              {{ fuelTransaction.date }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.fleetNumber }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.user }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.smr }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.unit }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.notes }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.divionContract }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.received }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.issued }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.balance }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.pump }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
              {{ fuelTransaction.isFillUp }}
            </td>
            <td class="px-6 py-1 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex justify-end space-x-2">
                <a [routerLink]="['/fuelTransaction', fuelTransaction.id, 'edit']" class="p-1 text-green-600 hover:text-green-800">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  Edit
                </a>
                <button class="p-1 text-red-600 hover:text-red-800">
                  <fa-icon icon="trash-alt"></fa-icon>
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--    </div>-->
  <!--  </div>-->
</div>
