<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assetPlant(); as assetPlantRef) {
      <div>
        <h2 data-cy="assetPlantDetailsHeading"><span jhiTranslate="blueFusionApp.assetPlant.detail.title">Asset Plant</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ assetPlantRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.assetPlantId">Asset Plant Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.assetPlantId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.fleetNumber">Fleet Number</span></dt>
          <dd>
            <span>{{ assetPlantRef.fleetNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.numberPlate">Number Plate</span></dt>
          <dd>
            <span>{{ assetPlantRef.numberPlate }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.fleetDescription">Fleet Description</span></dt>
          <dd>
            <span>{{ assetPlantRef.fleetDescription }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.ownerId">Owner Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.ownerId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.accessibleByCompany">Accessible By Company</span></dt>
          <dd>
            <span>{{ assetPlantRef.accessibleByCompany }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.driverOrOperator">Driver Or Operator</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.DriverOrOperator.' + (assetPlantRef.driverOrOperator ?? 'null')">{{
              { null: '', DRIVER: 'DRIVER', OPERATOR: 'OPERATOR', NONE: 'NONE' }[assetPlantRef.driverOrOperator ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.plantCategoryId">Plant Category Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.plantCategoryId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.plantSubcategoryId">Plant Subcategory Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.plantSubcategoryId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.manufacturerId">Manufacturer Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.manufacturerId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.modelId">Model Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.modelId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.yearOfManufacture">Year Of Manufacture</span></dt>
          <dd>
            <span>{{ assetPlantRef.yearOfManufacture }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.colour">Colour</span></dt>
          <dd>
            <span>{{ assetPlantRef.colour }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.horseOrTrailer">Horse Or Trailer</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.HorseOrTrailer.' + (assetPlantRef.horseOrTrailer ?? 'null')">{{
              { null: '', HORSE: 'HORSE', TRAILER: 'TRAILER', NONE: 'NONE' }[assetPlantRef.horseOrTrailer ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.smrReaderType">Smr Reader Type</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.SMRReaderType.' + (assetPlantRef.smrReaderType ?? 'null')">{{
              { null: '', KILOMETER: 'KILOMETER', HOUR: 'HOUR', DAY: 'DAY', NONE: 'NONE' }[assetPlantRef.smrReaderType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.currentSmrIndex">Current Smr Index</span></dt>
          <dd>
            <span>{{ assetPlantRef.currentSmrIndex }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.engineNumber">Engine Number</span></dt>
          <dd>
            <span>{{ assetPlantRef.engineNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.engineCapacityCc">Engine Capacity Cc</span></dt>
          <dd>
            <span>{{ assetPlantRef.engineCapacityCc }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.currentSiteId">Current Site Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.currentSiteId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.currentContractId">Current Contract Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.currentContractId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.currentOperatorId">Current Operator Id</span></dt>
          <dd>
            <span>{{ assetPlantRef.currentOperatorId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.ledgerCode">Ledger Code</span></dt>
          <dd>
            <span>{{ assetPlantRef.ledgerCode }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.fuelType">Fuel Type</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.FuelType.' + (assetPlantRef.fuelType ?? 'null')">{{
              { null: '', PETROL: 'PETROL', DIESEL: 'DIESEL', NONE: 'NONE', OTHER: 'OTHER' }[assetPlantRef.fuelType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.tankCapacityLitres">Tank Capacity Litres</span></dt>
          <dd>
            <span>{{ assetPlantRef.tankCapacityLitres }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.consumptionUnit">Consumption Unit</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.ConsumptionUnit.' + (assetPlantRef.consumptionUnit ?? 'null')">{{
              { null: '', KILOMETERS_PER_LITRE: 'KILOMETERS_PER_LITRE', LITRES_PER_HOUR: 'LITRES_PER_HOUR' }[
                assetPlantRef.consumptionUnit ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.plantHoursStatus">Plant Hours Status</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.PlantHoursStatus.' + (assetPlantRef.plantHoursStatus ?? 'null')">{{
              { null: '', OPERATIONAL: 'OPERATIONAL', BREAK_DOWN: 'BREAK_DOWN', SERVICE: 'SERVICE' }[
                assetPlantRef.plantHoursStatus ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.isPrimeMover">Is Prime Mover</span></dt>
          <dd>
            <span>{{ assetPlantRef.isPrimeMover }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.capacityTons">Capacity Tons</span></dt>
          <dd>
            <span>{{ assetPlantRef.capacityTons }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.capacityM3Loose">Capacity M 3 Loose</span></dt>
          <dd>
            <span>{{ assetPlantRef.capacityM3Loose }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.capacityM3Tight">Capacity M 3 Tight</span></dt>
          <dd>
            <span>{{ assetPlantRef.capacityM3Tight }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.maximumConsumption">Maximum Consumption</span></dt>
          <dd>
            <span>{{ assetPlantRef.maximumConsumption }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.minimumConsumption">Minimum Consumption</span></dt>
          <dd>
            <span>{{ assetPlantRef.minimumConsumption }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.maximumSmrOnFullTank">Maximum Smr On Full Tank</span></dt>
          <dd>
            <span>{{ assetPlantRef.maximumSmrOnFullTank }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.trackConsumption">Track Consumption</span></dt>
          <dd>
            <span>{{ assetPlantRef.trackConsumption }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.trackSmrReading">Track Smr Reading</span></dt>
          <dd>
            <span>{{ assetPlantRef.trackSmrReading }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.trackService">Track Service</span></dt>
          <dd>
            <span>{{ assetPlantRef.trackService }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.isDeleted">Is Deleted</span></dt>
          <dd>
            <span>{{ assetPlantRef.isDeleted }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.requestWeeklyMileage">Request Weekly Mileage</span></dt>
          <dd>
            <span>{{ assetPlantRef.requestWeeklyMileage }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.sent">Sent</span></dt>
          <dd>
            <span>{{ assetPlantRef.sent }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.chassisNumber">Chassis Number</span></dt>
          <dd>
            <span>{{ assetPlantRef.chassisNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.assetPlant.currentLocation">Current Location</span></dt>
          <dd>
            <span>{{ assetPlantRef.currentLocation }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/asset-plant', assetPlantRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
