<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fuel-transaction-header-heading"
        data-cy="FuelTransactionHeaderCreateUpdateHeading"
        jhiTranslate="blueFusionApp.fuelTransactionHeader.home.createOrEditLabel"
      >
        Create or edit a Fuel Transaction Header
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.fuelTransactionHeader.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_fuelTransactionHeaderId"
            jhiTranslate="blueFusionApp.fuelTransactionHeader.fuelTransactionHeaderId"
            >Fuel Transaction Header Id</label
          >
          <input
            type="number"
            class="form-control"
            name="fuelTransactionHeaderId"
            id="field_fuelTransactionHeaderId"
            data-cy="fuelTransactionHeaderId"
            formControlName="fuelTransactionHeaderId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_companyId" jhiTranslate="blueFusionApp.fuelTransactionHeader.companyId">Company Id</label>
          <input type="number" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_supplierId" jhiTranslate="blueFusionApp.fuelTransactionHeader.supplierId">Supplier Id</label>
          <input
            type="number"
            class="form-control"
            name="supplierId"
            id="field_supplierId"
            data-cy="supplierId"
            formControlName="supplierId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_transactionTypeId" jhiTranslate="blueFusionApp.fuelTransactionHeader.transactionTypeId"
            >Transaction Type Id</label
          >
          <input
            type="number"
            class="form-control"
            name="transactionTypeId"
            id="field_transactionTypeId"
            data-cy="transactionTypeId"
            formControlName="transactionTypeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fuelType" jhiTranslate="blueFusionApp.fuelTransactionHeader.fuelType">Fuel Type</label>
          <select class="form-control" name="fuelType" formControlName="fuelType" id="field_fuelType" data-cy="fuelType">
            <option [ngValue]="null">{{ 'blueFusionApp.FuelType.null' | translate }}</option>
            @for (fuelType of fuelTypeValues; track $index) {
              <option [value]="fuelType">{{ 'blueFusionApp.FuelType.' + fuelType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orderNumber" jhiTranslate="blueFusionApp.fuelTransactionHeader.orderNumber"
            >Order Number</label
          >
          <input
            type="text"
            class="form-control"
            name="orderNumber"
            id="field_orderNumber"
            data-cy="orderNumber"
            formControlName="orderNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deliveryNote" jhiTranslate="blueFusionApp.fuelTransactionHeader.deliveryNote"
            >Delivery Note</label
          >
          <input
            type="text"
            class="form-control"
            name="deliveryNote"
            id="field_deliveryNote"
            data-cy="deliveryNote"
            formControlName="deliveryNote"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_grvNumber" jhiTranslate="blueFusionApp.fuelTransactionHeader.grvNumber">Grv Number</label>
          <input type="text" class="form-control" name="grvNumber" id="field_grvNumber" data-cy="grvNumber" formControlName="grvNumber" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoiceNumber" jhiTranslate="blueFusionApp.fuelTransactionHeader.invoiceNumber"
            >Invoice Number</label
          >
          <input
            type="text"
            class="form-control"
            name="invoiceNumber"
            id="field_invoiceNumber"
            data-cy="invoiceNumber"
            formControlName="invoiceNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pricePerLitre" jhiTranslate="blueFusionApp.fuelTransactionHeader.pricePerLitre"
            >Price Per Litre</label
          >
          <input
            type="number"
            class="form-control"
            name="pricePerLitre"
            id="field_pricePerLitre"
            data-cy="pricePerLitre"
            formControlName="pricePerLitre"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_note" jhiTranslate="blueFusionApp.fuelTransactionHeader.note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_registrationNumber" jhiTranslate="blueFusionApp.fuelTransactionHeader.registrationNumber"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_attendeeId" jhiTranslate="blueFusionApp.fuelTransactionHeader.attendeeId">Attendee Id</label>
          <input
            type="number"
            class="form-control"
            name="attendeeId"
            id="field_attendeeId"
            data-cy="attendeeId"
            formControlName="attendeeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_operatorId" jhiTranslate="blueFusionApp.fuelTransactionHeader.operatorId">Operator Id</label>
          <input
            type="number"
            class="form-control"
            name="operatorId"
            id="field_operatorId"
            data-cy="operatorId"
            formControlName="operatorId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
