<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-asset-plant-heading"
        data-cy="AssetPlantCreateUpdateHeading"
        jhiTranslate="blueFusionApp.assetPlant.home.createOrEditLabel"
      >
        Create or edit a Asset Plant
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="blueFusionApp.assetPlant.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_assetPlantId" jhiTranslate="blueFusionApp.assetPlant.assetPlantId">Asset Plant Id</label>
          <input
            type="number"
            class="form-control"
            name="assetPlantId"
            id="field_assetPlantId"
            data-cy="assetPlantId"
            formControlName="assetPlantId"
          />
        </div>

        @let fleetNumberRef = editForm.get('fleetNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_fleetNumber" jhiTranslate="blueFusionApp.assetPlant.fleetNumber">Fleet Number</label>
          <input
            type="text"
            class="form-control"
            name="fleetNumber"
            id="field_fleetNumber"
            data-cy="fleetNumber"
            formControlName="fleetNumber"
          />
          @if (fleetNumberRef.invalid && (fleetNumberRef.dirty || fleetNumberRef.touched)) {
            <div>
              @if (editForm.get('fleetNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        @let numberPlateRef = editForm.get('numberPlate')!;
        <div class="mb-3">
          <label class="form-label" for="field_numberPlate" jhiTranslate="blueFusionApp.assetPlant.numberPlate">Number Plate</label>
          <input
            type="text"
            class="form-control"
            name="numberPlate"
            id="field_numberPlate"
            data-cy="numberPlate"
            formControlName="numberPlate"
          />
          @if (numberPlateRef.invalid && (numberPlateRef.dirty || numberPlateRef.touched)) {
            <div>
              @if (editForm.get('numberPlate')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        @let fleetDescriptionRef = editForm.get('fleetDescription')!;
        <div class="mb-3">
          <label class="form-label" for="field_fleetDescription" jhiTranslate="blueFusionApp.assetPlant.fleetDescription"
            >Fleet Description</label
          >
          <input
            type="text"
            class="form-control"
            name="fleetDescription"
            id="field_fleetDescription"
            data-cy="fleetDescription"
            formControlName="fleetDescription"
          />
          @if (fleetDescriptionRef.invalid && (fleetDescriptionRef.dirty || fleetDescriptionRef.touched)) {
            <div>
              @if (editForm.get('fleetDescription')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >This field cannot be longer than 200 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ownerId" jhiTranslate="blueFusionApp.assetPlant.ownerId">Owner Id</label>
          <input type="number" class="form-control" name="ownerId" id="field_ownerId" data-cy="ownerId" formControlName="ownerId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accessibleByCompany" jhiTranslate="blueFusionApp.assetPlant.accessibleByCompany"
            >Accessible By Company</label
          >
          <input
            type="text"
            class="form-control"
            name="accessibleByCompany"
            id="field_accessibleByCompany"
            data-cy="accessibleByCompany"
            formControlName="accessibleByCompany"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_driverOrOperator" jhiTranslate="blueFusionApp.assetPlant.driverOrOperator"
            >Driver Or Operator</label
          >
          <select
            class="form-control"
            name="driverOrOperator"
            formControlName="driverOrOperator"
            id="field_driverOrOperator"
            data-cy="driverOrOperator"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.DriverOrOperator.null' | translate }}</option>
            @for (driverOrOperator of driverOrOperatorValues; track $index) {
              <option [value]="driverOrOperator">{{ 'blueFusionApp.DriverOrOperator.' + driverOrOperator | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plantCategoryId" jhiTranslate="blueFusionApp.assetPlant.plantCategoryId"
            >Plant Category Id</label
          >
          <input
            type="number"
            class="form-control"
            name="plantCategoryId"
            id="field_plantCategoryId"
            data-cy="plantCategoryId"
            formControlName="plantCategoryId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plantSubcategoryId" jhiTranslate="blueFusionApp.assetPlant.plantSubcategoryId"
            >Plant Subcategory Id</label
          >
          <input
            type="text"
            class="form-control"
            name="plantSubcategoryId"
            id="field_plantSubcategoryId"
            data-cy="plantSubcategoryId"
            formControlName="plantSubcategoryId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_manufacturerId" jhiTranslate="blueFusionApp.assetPlant.manufacturerId"
            >Manufacturer Id</label
          >
          <input
            type="number"
            class="form-control"
            name="manufacturerId"
            id="field_manufacturerId"
            data-cy="manufacturerId"
            formControlName="manufacturerId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modelId" jhiTranslate="blueFusionApp.assetPlant.modelId">Model Id</label>
          <input type="number" class="form-control" name="modelId" id="field_modelId" data-cy="modelId" formControlName="modelId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_yearOfManufacture" jhiTranslate="blueFusionApp.assetPlant.yearOfManufacture"
            >Year Of Manufacture</label
          >
          <input
            type="number"
            class="form-control"
            name="yearOfManufacture"
            id="field_yearOfManufacture"
            data-cy="yearOfManufacture"
            formControlName="yearOfManufacture"
          />
        </div>

        @let colourRef = editForm.get('colour')!;
        <div class="mb-3">
          <label class="form-label" for="field_colour" jhiTranslate="blueFusionApp.assetPlant.colour">Colour</label>
          <input type="text" class="form-control" name="colour" id="field_colour" data-cy="colour" formControlName="colour" />
          @if (colourRef.invalid && (colourRef.dirty || colourRef.touched)) {
            <div>
              @if (editForm.get('colour')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_horseOrTrailer" jhiTranslate="blueFusionApp.assetPlant.horseOrTrailer"
            >Horse Or Trailer</label
          >
          <select
            class="form-control"
            name="horseOrTrailer"
            formControlName="horseOrTrailer"
            id="field_horseOrTrailer"
            data-cy="horseOrTrailer"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.HorseOrTrailer.null' | translate }}</option>
            @for (horseOrTrailer of horseOrTrailerValues; track $index) {
              <option [value]="horseOrTrailer">{{ 'blueFusionApp.HorseOrTrailer.' + horseOrTrailer | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_smrReaderType" jhiTranslate="blueFusionApp.assetPlant.smrReaderType">Smr Reader Type</label>
          <select
            class="form-control"
            name="smrReaderType"
            formControlName="smrReaderType"
            id="field_smrReaderType"
            data-cy="smrReaderType"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.SMRReaderType.null' | translate }}</option>
            @for (sMRReaderType of sMRReaderTypeValues; track $index) {
              <option [value]="sMRReaderType">{{ 'blueFusionApp.SMRReaderType.' + sMRReaderType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentSmrIndex" jhiTranslate="blueFusionApp.assetPlant.currentSmrIndex"
            >Current Smr Index</label
          >
          <input
            type="number"
            class="form-control"
            name="currentSmrIndex"
            id="field_currentSmrIndex"
            data-cy="currentSmrIndex"
            formControlName="currentSmrIndex"
          />
        </div>

        @let engineNumberRef = editForm.get('engineNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_engineNumber" jhiTranslate="blueFusionApp.assetPlant.engineNumber">Engine Number</label>
          <input
            type="text"
            class="form-control"
            name="engineNumber"
            id="field_engineNumber"
            data-cy="engineNumber"
            formControlName="engineNumber"
          />
          @if (engineNumberRef.invalid && (engineNumberRef.dirty || engineNumberRef.touched)) {
            <div>
              @if (editForm.get('engineNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let engineCapacityCcRef = editForm.get('engineCapacityCc')!;
        <div class="mb-3">
          <label class="form-label" for="field_engineCapacityCc" jhiTranslate="blueFusionApp.assetPlant.engineCapacityCc"
            >Engine Capacity Cc</label
          >
          <input
            type="text"
            class="form-control"
            name="engineCapacityCc"
            id="field_engineCapacityCc"
            data-cy="engineCapacityCc"
            formControlName="engineCapacityCc"
          />
          @if (engineCapacityCcRef.invalid && (engineCapacityCcRef.dirty || engineCapacityCcRef.touched)) {
            <div>
              @if (editForm.get('engineCapacityCc')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentSiteId" jhiTranslate="blueFusionApp.assetPlant.currentSiteId">Current Site Id</label>
          <input
            type="number"
            class="form-control"
            name="currentSiteId"
            id="field_currentSiteId"
            data-cy="currentSiteId"
            formControlName="currentSiteId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentContractId" jhiTranslate="blueFusionApp.assetPlant.currentContractId"
            >Current Contract Id</label
          >
          <input
            type="number"
            class="form-control"
            name="currentContractId"
            id="field_currentContractId"
            data-cy="currentContractId"
            formControlName="currentContractId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentOperatorId" jhiTranslate="blueFusionApp.assetPlant.currentOperatorId"
            >Current Operator Id</label
          >
          <input
            type="number"
            class="form-control"
            name="currentOperatorId"
            id="field_currentOperatorId"
            data-cy="currentOperatorId"
            formControlName="currentOperatorId"
          />
        </div>

        @let ledgerCodeRef = editForm.get('ledgerCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_ledgerCode" jhiTranslate="blueFusionApp.assetPlant.ledgerCode">Ledger Code</label>
          <input
            type="text"
            class="form-control"
            name="ledgerCode"
            id="field_ledgerCode"
            data-cy="ledgerCode"
            formControlName="ledgerCode"
          />
          @if (ledgerCodeRef.invalid && (ledgerCodeRef.dirty || ledgerCodeRef.touched)) {
            <div>
              @if (editForm.get('ledgerCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fuelType" jhiTranslate="blueFusionApp.assetPlant.fuelType">Fuel Type</label>
          <select class="form-control" name="fuelType" formControlName="fuelType" id="field_fuelType" data-cy="fuelType">
            <option [ngValue]="null">{{ 'blueFusionApp.FuelType.null' | translate }}</option>
            @for (fuelType of fuelTypeValues; track $index) {
              <option [value]="fuelType">{{ 'blueFusionApp.FuelType.' + fuelType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tankCapacityLitres" jhiTranslate="blueFusionApp.assetPlant.tankCapacityLitres"
            >Tank Capacity Litres</label
          >
          <input
            type="number"
            class="form-control"
            name="tankCapacityLitres"
            id="field_tankCapacityLitres"
            data-cy="tankCapacityLitres"
            formControlName="tankCapacityLitres"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_consumptionUnit" jhiTranslate="blueFusionApp.assetPlant.consumptionUnit"
            >Consumption Unit</label
          >
          <select
            class="form-control"
            name="consumptionUnit"
            formControlName="consumptionUnit"
            id="field_consumptionUnit"
            data-cy="consumptionUnit"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.ConsumptionUnit.null' | translate }}</option>
            @for (consumptionUnit of consumptionUnitValues; track $index) {
              <option [value]="consumptionUnit">{{ 'blueFusionApp.ConsumptionUnit.' + consumptionUnit | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plantHoursStatus" jhiTranslate="blueFusionApp.assetPlant.plantHoursStatus"
            >Plant Hours Status</label
          >
          <select
            class="form-control"
            name="plantHoursStatus"
            formControlName="plantHoursStatus"
            id="field_plantHoursStatus"
            data-cy="plantHoursStatus"
          >
            <option [ngValue]="null">{{ 'blueFusionApp.PlantHoursStatus.null' | translate }}</option>
            @for (plantHoursStatus of plantHoursStatusValues; track $index) {
              <option [value]="plantHoursStatus">{{ 'blueFusionApp.PlantHoursStatus.' + plantHoursStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isPrimeMover" jhiTranslate="blueFusionApp.assetPlant.isPrimeMover">Is Prime Mover</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPrimeMover"
            id="field_isPrimeMover"
            data-cy="isPrimeMover"
            formControlName="isPrimeMover"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_capacityTons" jhiTranslate="blueFusionApp.assetPlant.capacityTons">Capacity Tons</label>
          <input
            type="number"
            class="form-control"
            name="capacityTons"
            id="field_capacityTons"
            data-cy="capacityTons"
            formControlName="capacityTons"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_capacityM3Loose" jhiTranslate="blueFusionApp.assetPlant.capacityM3Loose"
            >Capacity M 3 Loose</label
          >
          <input
            type="number"
            class="form-control"
            name="capacityM3Loose"
            id="field_capacityM3Loose"
            data-cy="capacityM3Loose"
            formControlName="capacityM3Loose"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_capacityM3Tight" jhiTranslate="blueFusionApp.assetPlant.capacityM3Tight"
            >Capacity M 3 Tight</label
          >
          <input
            type="number"
            class="form-control"
            name="capacityM3Tight"
            id="field_capacityM3Tight"
            data-cy="capacityM3Tight"
            formControlName="capacityM3Tight"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maximumConsumption" jhiTranslate="blueFusionApp.assetPlant.maximumConsumption"
            >Maximum Consumption</label
          >
          <input
            type="number"
            class="form-control"
            name="maximumConsumption"
            id="field_maximumConsumption"
            data-cy="maximumConsumption"
            formControlName="maximumConsumption"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_minimumConsumption" jhiTranslate="blueFusionApp.assetPlant.minimumConsumption"
            >Minimum Consumption</label
          >
          <input
            type="number"
            class="form-control"
            name="minimumConsumption"
            id="field_minimumConsumption"
            data-cy="minimumConsumption"
            formControlName="minimumConsumption"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_maximumSmrOnFullTank" jhiTranslate="blueFusionApp.assetPlant.maximumSmrOnFullTank"
            >Maximum Smr On Full Tank</label
          >
          <input
            type="number"
            class="form-control"
            name="maximumSmrOnFullTank"
            id="field_maximumSmrOnFullTank"
            data-cy="maximumSmrOnFullTank"
            formControlName="maximumSmrOnFullTank"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trackConsumption" jhiTranslate="blueFusionApp.assetPlant.trackConsumption"
            >Track Consumption</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="trackConsumption"
            id="field_trackConsumption"
            data-cy="trackConsumption"
            formControlName="trackConsumption"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trackSmrReading" jhiTranslate="blueFusionApp.assetPlant.trackSmrReading"
            >Track Smr Reading</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="trackSmrReading"
            id="field_trackSmrReading"
            data-cy="trackSmrReading"
            formControlName="trackSmrReading"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trackService" jhiTranslate="blueFusionApp.assetPlant.trackService">Track Service</label>
          <input
            type="checkbox"
            class="form-check"
            name="trackService"
            id="field_trackService"
            data-cy="trackService"
            formControlName="trackService"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isDeleted" jhiTranslate="blueFusionApp.assetPlant.isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestWeeklyMileage" jhiTranslate="blueFusionApp.assetPlant.requestWeeklyMileage"
            >Request Weekly Mileage</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="requestWeeklyMileage"
            id="field_requestWeeklyMileage"
            data-cy="requestWeeklyMileage"
            formControlName="requestWeeklyMileage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sent" jhiTranslate="blueFusionApp.assetPlant.sent">Sent</label>
          <input type="checkbox" class="form-check" name="sent" id="field_sent" data-cy="sent" formControlName="sent" />
        </div>

        @let chassisNumberRef = editForm.get('chassisNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_chassisNumber" jhiTranslate="blueFusionApp.assetPlant.chassisNumber">Chassis Number</label>
          <input
            type="text"
            class="form-control"
            name="chassisNumber"
            id="field_chassisNumber"
            data-cy="chassisNumber"
            formControlName="chassisNumber"
          />
          @if (chassisNumberRef.invalid && (chassisNumberRef.dirty || chassisNumberRef.touched)) {
            <div>
              @if (editForm.get('chassisNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>

        @let currentLocationRef = editForm.get('currentLocation')!;
        <div class="mb-3">
          <label class="form-label" for="field_currentLocation" jhiTranslate="blueFusionApp.assetPlant.currentLocation"
            >Current Location</label
          >
          <input
            type="text"
            class="form-control"
            name="currentLocation"
            id="field_currentLocation"
            data-cy="currentLocation"
            formControlName="currentLocation"
          />
          @if (currentLocationRef.invalid && (currentLocationRef.dirty || currentLocationRef.touched)) {
            <div>
              @if (editForm.get('currentLocation')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >This field cannot be longer than 30 characters.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
