<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fuelTransactionHeader(); as fuelTransactionHeaderRef) {
      <div>
        <h2 data-cy="fuelTransactionHeaderDetailsHeading">
          <span jhiTranslate="blueFusionApp.fuelTransactionHeader.detail.title">Fuel Transaction Header</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.fuelTransactionHeaderId">Fuel Transaction Header Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.fuelTransactionHeaderId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.companyId">Company Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.companyId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.supplierId">Supplier Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.supplierId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.transactionTypeId">Transaction Type Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.transactionTypeId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.fuelType">Fuel Type</span></dt>
          <dd>
            <span [jhiTranslate]="'blueFusionApp.FuelType.' + (fuelTransactionHeaderRef.fuelType ?? 'null')">{{
              { null: '', PETROL: 'PETROL', DIESEL: 'DIESEL', NONE: 'NONE', OTHER: 'OTHER' }[fuelTransactionHeaderRef.fuelType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.orderNumber">Order Number</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.orderNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.deliveryNote">Delivery Note</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.deliveryNote }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.grvNumber">Grv Number</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.grvNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.invoiceNumber">Invoice Number</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.invoiceNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.pricePerLitre">Price Per Litre</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.pricePerLitre }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.note">Note</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.note }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.registrationNumber">Registration Number</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.registrationNumber }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.attendeeId">Attendee Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.attendeeId }}</span>
          </dd>
          <dt><span jhiTranslate="blueFusionApp.fuelTransactionHeader.operatorId">Operator Id</span></dt>
          <dd>
            <span>{{ fuelTransactionHeaderRef.operatorId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/fuel-transaction-header', fuelTransactionHeaderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
