<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (company(); as companyRef) {
      <form name="viewForm">
        <div>
          <h2 data-cy="companyDetailsHeading"><span>Company</span></h2>

          <hr />

          <jhi-alert-error />

          <jhi-alert />

          <dl class="row-md jh-entity-details">
            <dt><span>Company Id</span></dt>
            <dd>
              <span>{{ companyRef.id }}</span>
            </dd>

            <dt><span>Name</span></dt>
            <dd>
              <span>{{ companyRef.name }}</span>
            </dd>

            <dt><span>Description</span></dt>
            <dd>
              <span>{{ companyRef.description }}</span>
            </dd>

            <dt><span>Is Active</span></dt>
            <dd>
              <span>{{ companyRef.isActive }}</span>
            </dd>

            <dt><span>Uses Fuel System</span></dt>
            <dd>
              <span>{{ companyRef.usesFuelSystem }}</span>
            </dd>
          </dl>

          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>

          <button type="button" [routerLink]="['/company', companyRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </div>
      </form>
    }
  </div>
</div>
